* {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
  background-color: rgb(255, 255, 255);
}

h1,
h2,
h3 {
  font-family: 'Fraunces', serif;
}
.header {
  position: relative;
  background-image: url(../assets/images/mobile/image-header.jpg);
  background-size: cover;
  width: 375px;
  height: 538px;
  padding-inline: 24px;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .header {
    position: relative;
    width: 1440px;
    height: 800px;
    background-image: url(../assets/images/desktop/image-header.jpg);
    background-size: cover;
  }
}
.header__menu {
  display: flex;
  justify-content: space-between;
}
.menu {
  position: relative;
  background-color: white;
  width: 329px;
  height: 305px;
  text-align: center;
  padding: 39px 95px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  top: 50px;
}
.menu::after {
  position: absolute;
  content: '';
  width: 24px;
  height: 24px;
  left: 305px;
  top: -24px;
  background-image: linear-gradient(
    to right bottom,
    transparent 50%,
    white 50%
  );
}

.main-menu--item {
  font-weight: 600;
  font-size: 20px;
  color: #808397;
  line-height: 25px;
}
.main-menu--contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 140px;
  height: 56px;
  border-radius: 28px;
  background-color: #fbd600;
  color: #24303e;
}

.title {
  position: absolute;
  left: 0;
  font-weight: 900;
  font-size: 40px;
  letter-spacing: 6.25px;
  color: white;
  text-align: center;
  top: 110px;
}
@media screen and (min-width: 768px) {
  .title {
    position: absolute;
    text-align: center;
    left: 370px;
    font-size: 56px;
  }
}

.arrow {
  position: absolute;
  content: '';
  left: 173px;
  top: 294px;
  width: 30px;
  height: 107px;
}
@media screen and (min-width: 768px) {
  .arrow {
    position: absolute;
    content: '';
    left: 700px;
    top: 360px;
  }
}
.section__egg {
  max-width: 1440px;

  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .section__egg {
    display: flex;
    flex-direction: row-reverse;
    height: 600px;
  }
}

.text__egg {
  padding: 64px 24px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #808397;
}

@media screen and (min-width: 768px) {
  .text__egg {
    font-size: 32px;
    padding: 158px 110px 157px 165px;
    text-align: 0;
  }
}

.image__egg {
  width: 375px;
  height: 312px;
}
@media screen and (min-width: 768px) {
  .image__egg {
    width: 720px;
    height: 600px;
  }
}
.title__egg {
  font-weight: 900;
  font-size: 32px;
  color: #24303e;
}

.button__egg {
  position: relative;
  line-height: 25px;
  letter-spacing: 1px;
  font-weight: 900;
  font-size: 15px;
  color: #24303e;
  font-family: 'Fraunces', serif;
}
.button__egg::after {
  position: absolute;
  content: '';
  width: 137px;
  height: 10px;
  border-radius: 28px;
  background-color: rgba(250, 212, 0, 0.249);
  top: 10px;
  left: -10px;
}

.section__lamp {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .section__lamp {
    display: flex;
    flex-direction: row;
  }
}
.image__lamp {
  width: 375px;
  height: 312px;
}
@media screen and (min-width: 768px) {
  .image__lamp {
    width: 720px;
    height: 600px;
  }
}
.text__lamp {
  padding: 64px 24px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #808397;
}
@media screen and (min-width: 768px) {
  .text__lamp {
    font-size: 32px;
    padding: 158px 110px 157px 165px;
  }
}
.title__lamp {
  font-weight: 900;
  font-size: 32px;
  color: #24303e;
}
.button__lamp {
  position: relative;
  line-height: 25px;
  letter-spacing: 1px;
  font-weight: 900;
  font-size: 15px;
  color: #24303e;
  font-family: 'Fraunces', serif;
}
.button__lamp::after {
  position: absolute;
  content: '';
  width: 137px;
  height: 10px;
  border-radius: 28px;
  background-color: rgba(254, 120, 102, 0.251);
  left: -10px;
  top: 10px;
}
